AtomPair HH 2A O 122W FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OH 2A O 122W FLAT_HARMONIC 3 0.3 0.4 
AtomPair HG 6A OB 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG 6A OB 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HG 17A O 13A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 13A OG 17A FLAT_HARMONIC 3 0.3 0.4 
AtomPair HH22 14A O1D 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair NH2 14A O1D 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair H2 16W O 16A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 16W O 16A FLAT_HARMONIC 3 0.3 0.4 
AtomPair H1 16W OC 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 16W OC 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HC 10L OG 17A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG 17A NC 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HE 20A OC 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair NE 20A OC 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HH11 20A OE2 24A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair NH1 20A OE2 24A FLAT_HARMONIC 3 0.3 0.4 
AtomPair HH21 20A OC 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair NH2 20A OC 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HG 75A OD2 119A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG 75A OD2 119A FLAT_HARMONIC 3 0.3 0.4 
AtomPair HA 10L OD1 119A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OD1 119A NA 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HG1 123A O 119A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 119A OG1 123A FLAT_HARMONIC 3 0.3 0.4 
AtomPair HE21 120A O2A 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair NE2 120A O2A 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair H1 122W O 122A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 122W O 122A FLAT_HARMONIC 3 0.3 0.4 
AtomPair H2 122W OB 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 122W OB 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HB 10L OG1 123A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG1 123A NB 10L FLAT_HARMONIC 3 0.3 0.4 
