AtomPair HG 18A OD1 63A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG 18A OD1 63A FLAT_HARMONIC 3 0.3 0.4 
AtomPair HD22 22A O 18A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 18A ND2 22A FLAT_HARMONIC 3 0.3 0.4 
AtomPair HD21 22A O18 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair ND2 22A O18 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HN5 10L OD1 22A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OD1 22A N5 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HG 56A O19 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG 56A O19 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair H2 134W OG 56A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG 56A O 134W FLAT_HARMONIC 3 0.3 0.4 
AtomPair HH 74A OD1 59A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OD1 59A OH 74A FLAT_HARMONIC 3 0.3 0.4 
AtomPair H2 60W O 60A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 60A O 60W FLAT_HARMONIC 3 0.3 0.4 
AtomPair HD22 63A O16 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair ND2 63A O16 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair HD21 63A O18 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair ND2 63A O18 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair H1 134W O 134A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 134A O 134W FLAT_HARMONIC 3 0.3 0.4 
AtomPair HG 138A O19 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OG 138A O19 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair H172 10L O 141A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O 141A N17 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair H171 10L OD2 144A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OD2 144A N17 10L FLAT_HARMONIC 3 0.3 0.4 
AtomPair H1 148W OD2 144A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OD2 144A O 148W FLAT_HARMONIC 3 0.3 0.4 
AtomPair H2 148W OE1 148A FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair OE1 148A O 148W FLAT_HARMONIC 3 0.3 0.4 
AtomPair H1 60W O16 10L FLAT_HARMONIC 1.9 0.3 0.3 
AtomPair O16 10L O 60W FLAT_HARMONIC 3 0.3 0.4 
